<mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="titulo">
      <mat-header-cell *matHeaderCellDef>Titulo</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.titulo}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="sinopsis">
    <mat-header-cell *matHeaderCellDef>Sinopsis</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.sinopsis}}</mat-cell>
</ng-container>

<ng-container matColumnDef="npaginas">
  <mat-header-cell *matHeaderCellDef>Número de Paginas</mat-header-cell>
  <mat-cell *matCellDef="let element">{{element.npaginas}}</mat-cell>
</ng-container>

  <mat-header-row *matHeaderRowDef="desplegarColumnas"></mat-header-row>
  <mat-row *matRowDef="let row; columns: desplegarColumnas"></mat-row>

</mat-table>


